@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transfform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.heart {
  overflow: overlay;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 5;
  &[data-loading="true"]{
    opacity: .4;
    pointer-events: none;
  }
  //&.animate {
  //  animation: pulse ease-in-out 0.2s;
  //}
}
.heart-container{
  .loading{
    position: absolute;
    right: 0;
    top: 0;
    left: initial;
    transform: none;
  }
}
